/*
 * Darling2 HE Configuration для SuperMini nRF52840 + 2×CD74HC4067
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/he/mouse_forwarder.h>
#include <dt-bindings/he/gamepad_forwarder.h>
#include <input/he_processors.dtsi>
#include <physical_layouts.dtsi>

&adc {
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;
    // nRF52840 ADC mapping для SuperMini:
    // P0.02 = AIN0 (SAADC channel 0) - MUX1 SIG
    // P0.29 = AIN5 (SAADC channel 5) - MUX2 SIG
    // Остальные AIN не используются как ADC (P0.03, P0.04 зарезервированы под EN)
    
    /* MUX1 SIG -> P0.02 (AIN0) */
    channel@0 {
        reg = <0>;
        zephyr,input-positive = <NRF_SAADC_AIN0>;
        zephyr,gain = "ADC_GAIN_1_2";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 10)>;
        zephyr,resolution = <12>;
    };
    
    /* MUX2 SIG -> P0.29 (AIN5) */
    channel@5 {
        reg = <5>;
        zephyr,input-positive = <NRF_SAADC_AIN5>;
        zephyr,gain = "ADC_GAIN_1_2";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 10)>;
        zephyr,resolution = <12>;
    };
};

&raw_sp {
    matrix-size = <2 16>;  // 2 MUX (top/bot), до 16 каналов на каждый
    working-area = <250 3050>;
    filter-coefficients = <0x3ca485df 0x3d2485df 0x3ca485df 0x3f800000 0xbfc7cf71 0x3f242f9d>;
};

&he_pass {
    kscan-passthrough-position = <2700>;
    keymap-size = <12>;
};

&rt_pass {
    keymap-size = <12>;
};

// &mouse_fw {
//     time-to-max-speed-ms = <300>;
//     working-area = <300 2800>;
//     scale-x-float = <0x40400000>;  /* 3.0 */
//     scale-y-float = <0x40400000>;  /* 3.0 */
//     scale-h-wheel-float = <0x40400000>;  /* 3.0 */
//     scale-v-wheel-float = <0x40400000>;  /* 3.0 */
// };

&he_trans {
    // log;
};

/ {
    chosen {
        zmk,kscan = &kscan;
        zmk,physical-layout = &physical_layout0;
    };

    /* Физический layout 2x16 = 32 клавиши (настройте координаты под вашу клавиатуру) */
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Darling2 Default";
        kscan = <&kscan>;
        transform = <&default_transform>;
        keys = 
            /* Row 0: MUX1 каналы 0-15 */
            <&key_physical_attrs 100 100    0   0  0  0  0>
            , <&key_physical_attrs 100 100  100   0  0  0  0>
            , <&key_physical_attrs 100 100  200   0  0  0  0>
            , <&key_physical_attrs 100 100  300   0  0  0  0>
            , <&key_physical_attrs 100 100  400   0  0  0  0>
            , <&key_physical_attrs 100 100  500   0  0  0  0>
            , <&key_physical_attrs 100 100  600   0  0  0  0>
            , <&key_physical_attrs 100 100  700   0  0  0  0>
            , <&key_physical_attrs 100 100  800   0  0  0  0>
            , <&key_physical_attrs 100 100  900   0  0  0  0>
            , <&key_physical_attrs 100 100 1000   0  0  0  0>
            , <&key_physical_attrs 100 100 1100   0  0  0  0>
            , <&key_physical_attrs 100 100 1200   0  0  0  0>
            , <&key_physical_attrs 100 100 1300   0  0  0  0>
            , <&key_physical_attrs 100 100 1400   0  0  0  0>
            , <&key_physical_attrs 100 100 1500   0  0  0  0>
            /* Row 1: MUX2 каналы 0-15 */
            , <&key_physical_attrs 100 100    0 100  0  0  0>
            , <&key_physical_attrs 100 100  100 100  0  0  0>
            , <&key_physical_attrs 100 100  200 100  0  0  0>
            , <&key_physical_attrs 100 100  300 100  0  0  0>
            , <&key_physical_attrs 100 100  400 100  0  0  0>
            , <&key_physical_attrs 100 100  500 100  0  0  0>
            , <&key_physical_attrs 100 100  600 100  0  0  0>
            , <&key_physical_attrs 100 100  700 100  0  0  0>
            , <&key_physical_attrs 100 100  800 100  0  0  0>
            , <&key_physical_attrs 100 100  900 100  0  0  0>
            , <&key_physical_attrs 100 100 1000 100  0  0  0>
            , <&key_physical_attrs 100 100 1100 100  0  0  0>
            , <&key_physical_attrs 100 100 1200 100  0  0  0>
            , <&key_physical_attrs 100 100 1300 100  0  0  0>
            , <&key_physical_attrs 100 100 1400 100  0  0  0>
            , <&key_physical_attrs 100 100 1500 100  0  0  0>
            ;
    };

    default_transform: default_transform {
        compatible = "zmk,matrix-transform";
        columns = <16>;
        rows = <2>;
        map = <
            RC(0,0)  RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)  RC(0,5)  RC(0,6)  RC(0,7)  RC(0,8)  RC(0,9)  RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(0,14) RC(0,15)
            RC(1,0)  RC(1,1)  RC(1,2)  RC(1,3)  RC(1,4)  RC(1,5)  RC(1,6)  RC(1,7)  RC(1,8)  RC(1,9)  RC(1,10) RC(1,11) RC(1,12) RC(1,13) RC(1,14) RC(1,15)
        >;
    };

    /* Композитный kscan (только ADC direct, так как у вас нет обычных GPIO свитчей) */
    kscan: kscan0 {
        compatible = "zmk,kscan-composite";
        wakeup-source;
        rows = <2>;
        columns = <16>;

        adc-direct {
            kscan = <&kscan_adc>;
            row-offset = <0>;
            col-offset = <0>;
        };
    };

    pulse_set_forwarder: pulse-set-forwarder {
        compatible = "he,pulse-set-forwarder";
    };

    /* ADC сканер для 2 MUXов */
    kscan_adc: kscan-adc {
        compatible = "he,kscan-direct-pulsed";
        resolution = <12>;
        pulse-read;
        read-turn-on-time = <50>;
        wait-period-idle = <5>;
        wait-period-press = <1>;
        kscan-forwarder = <&kscan_forwarder>;
        pulse-set-forwarder = <&pulse_set_forwarder>;

        kscan_adc_top: top {  /* MUX1 */
            enable-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;  /* P0.03 - EN для MUX1 (ИЗМЕНИТЕ!) */
            switch-height = <3300>;
        };
        kscan_adc_bot: bot {  /* MUX2 */
            enable-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;  /* P0.04 - EN для MUX2 (ИЗМЕНИТЕ!) */
            switch-height = <3300>;
        };
    };

    socd_d: he-socd1 {
        compatible = "he,input-processor-socd";
        #input-processor-cells = <1>;
        sensitivity = <250>;
        kscan-forwarder = <&kscan_forwarder>;
        kscan-passthrough;
        actuation-point = <2800>;
        type = "priority_deeper";
    };

    ps: he_set_p {
        compatible = "he,behavior-pulse-set";
        #binding-cells = <1>;
        pulse-set-forwarder = <&pulse_set_forwarder>;
    };

    he_transform: he_transform {
        compatible = "zmk,matrix-transform";
        columns = <16>;
        rows = <2>;
        map = <
            RC(0,0)  RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)  RC(0,5)  RC(0,6)  RC(0,7)  RC(0,8)  RC(0,9)  RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(0,14) RC(0,15)
            RC(1,0)  RC(1,1)  RC(1,2)  RC(1,3)  RC(1,4)  RC(1,5)  RC(1,6)  RC(1,7)  RC(1,8)  RC(1,9)  RC(1,10) RC(1,11) RC(1,12) RC(1,13) RC(1,14) RC(1,15)
        >;
    };

    he_keymap: he-keymap {
        compatible = "he,input-processor-keymap";
        #input-processor-cells = <1>;
        transform = <&he_transform>;
    };

    central_listener: central_listener {
        compatible = "he,input-listener";
        device = <&kscan_adc>;
        input-processors = <&raw_sp>;

        layer0 { layers = <0>; input-processors = <&he_keymap 0>; };
        layer1 { layers = <1>; input-processors = <&he_keymap 1>; };
        layer2 { layers = <2>; input-processors = <&he_keymap 2>; };
        layer3 { layers = <3>; input-processors = <&he_keymap 3>; };
    };
};
