/*
 * Darling2 Hardware Overlay
 * Structure based on zmk-config-partialgauss
 */

#include "darling2-layouts.dtsi"

/* 1. Пины выбора канала (S0, S1, S2, S3) */
&kscan_gpio {
    col-gpios
        = <&gpio0 4 GPIO_ACTIVE_HIGH> // S0
        , <&gpio0 5 GPIO_ACTIVE_HIGH> // S1
        , <&gpio0 6 GPIO_ACTIVE_HIGH> // S2
        , <&gpio0 7 GPIO_ACTIVE_HIGH> // S3
        ;
};

/* 2. Калибровка первого мультиплексора U1 (Верхний) */
&kscan_adc_top {
    first {
        io-channels = <&adc 0>; // SIG U1 -> P1.00
        /* Значения подбираются в процессе калибровки */
        calibration-min = <2000>; 
        calibration-max = <3000>;
    };
    /* Если библиотека требует раздельной калибровки для каждой клавиши, 
       здесь добавляются second, third и т.д. */
};

/* 3. Калибровка второго мультиплексора U2 (Нижний) */
&kscan_adc_bot {
    first {
        io-channels = <&adc 1>; // SIG U2 -> P1.01
        /* Значения подбираются в процессе калибровки */
        calibration-min = <2000>; 
        calibration-max = <3000>;
    };
};

/* 4. Пины управления включением мультиплексоров (EN) */
&kscan_selector {
    input-gpios
            = 
              <&gpio0 3 GPIO_ACTIVE_HIGH> // EN для U1 (P0.03)
            , <&gpio0 2 GPIO_ACTIVE_HIGH> // EN для U2 (P0.02)
            ;
};

/* 5. Активация всех функциональных узлов из dtsi */
&central_listener {
    status = "okay";
};


&raw_sp {
    sample-div = <1>;
};

&he_transform {
    status = "okay";
};

&he_keymap {
    status = "okay";
};
